@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #00000B;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

@keyframes pulseGradient {
  0%, 100% { opacity: 0.4; }
  50% { opacity: 1; }
}

.gradient-triangle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 400px;
  background: radial-gradient(ellipse at top, #160078 0%, transparent 70%);
  animation: pulseGradient 3s ease-in-out infinite;
  filter: blur(40px);
  pointer-events: none;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  cursor: pointer;
}

input[type="datetime-local"]::-moz-inner-spin-button,
input[type="datetime-local"]::-moz-calendar-picker-indicator {
  display: none;
  -moz-appearance: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #080C22 inset !important;
  -webkit-text-fill-color: white !important;
  background-color: #080C22 !important;
  border: none !important;
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
