@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #00000B;
  font-family: 'Poppins', sans-serif;
}


/* Animación de panel compraId */
@keyframes slide-in-right {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out forwards;
}

@keyframes slide-out-right {
  from { transform: translateX(0); opacity: 1; }
  to { transform: translateX(100%); opacity: 0; }
}
.animate-slide-out-right {
  animation: slide-out-right 0.3s ease-in forwards;
}
/* Desenfoque para panel compraId */
.blur-auto{
  backdrop-filter: blur(2px);
}

/* Animacion para fondo gradiente del logo */
@keyframes pulseGradient {
  0%, 100% { opacity: 0.4; }
  50% { opacity: 1; }
}

.gradient-triangle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 400px;
  background: radial-gradient(ellipse at top, #160078 0%, transparent 70%);
  animation: pulseGradient 3s ease-in-out infinite;
  filter: blur(40px);
  pointer-events: none;
}

/* Quitar icono default de date time */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  cursor: pointer;
}
input[type="datetime-local"]::-moz-inner-spin-button,
input[type="datetime-local"]::-moz-calendar-picker-indicator {
  display: none;
  -moz-appearance: none;
}

/* Quitar auto-relleno predeterminado en el input */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #080C22 inset !important;
  -webkit-text-fill-color: white !important;
  background-color: #080C22 !important;
  border: none !important;
}

/* Quitar el scroll horizontal en las paginas */
.scrollbar-none {
  color-scheme: dark;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.6s ease-out forwards;
}

@keyframes revealLetters {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

/* Clase combinada para títulos */
.animate-title {
  opacity: 0;
  animation: fadeUp 0.6s ease-out forwards,
             revealLetters 1.2s steps(20) forwards;
}
.animate-subtitle {
  opacity: 0;
  animation: fadeUp 0.8s ease-out forwards;
  animation-delay: 0.4s;
}

.card-glow:hover {
  box-shadow: 0px 0px 35px 15px rgba(22, 0, 120, 0.16);
  transition: box-shadow 0.4s ease-out, transform 0.3s ease-out;
}

.scrollbar-dark {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #1a1f3a #05081b; /* thumb y track */

}
.scrollbar-dark::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-dark::-webkit-scrollbar-track {
  background: #05081b;
}
.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #1a1f3a;
  border-radius: 8px;
  border: 2px solid #05081b;
}